/* 聊天室 */
/* .chat-room {
    position: absolute;
    top: 40%;
    right: 45px;
    height: 150px;
    width: 100px;
} */
.chat-wrapper {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.chat-name {
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.chat-card {
    position: relative;
    background-color: #dddada;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 13px;
    margin-left: 15px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.chat-wrapper:hover .repeat-button {
    display: block;
    position: absolute;
    background-color: #fff;
    color: black;
    font-size: .8em;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    right: -40px;
    bottom: 0px;
}

.chat-card:hover .repeat-button:hover {
    background-color: #e7e7e7;
}

/* 聊天室 */


/* 匿名模式 */
.character-section {
    text-align: center;
    height: 480px;
    padding: 30px;
}

.character {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* 匿名模式 */


/* 功能區 */
.bottom-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 0px auto;
    padding: 5px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.speak-button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

.speak-button:hover {
    background-color: #e7e7e7;
}

/* .switch-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
}

.switch-container input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.switch {
    background-color: #2196F3;
}

input:checked+.switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} */

.input-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    word-wrap: break-word;
}

.send-button {
    background-color: #fff;
    color: black;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.send-button:hover {
    background-color: #e7e7e7;
}

.hidden-section {
    display: none;
}

.common-button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

.common-button:hover {
    background-color: #e7e7e7;
}

.repeat-button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    display: none;
}

/* 功能區 */


/* 紅色 */
.bg-red {
    background-color: rgb(268, 7, 97);
}

/* 紅色 */


/* 淺藍色 */
.bg-light-blue {
    background-color: rgb(238, 229, 247);
}

/* 淺藍色 */


/* 卡其色 */
.bg-khaki {
    background-color: rgb(169, 167, 115);
}

/* 卡其色 */


/* 會議參加者 */
.attendee-section {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    max-height: 560px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    align-items: center;
    padding: 30px 0;
}

.person-card {
    background-color: rgb(238, 229, 247);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 8px;
    padding: 5px;
    width: 260px;
    height: 230px;
}

.robot-pos {
    position: relative;
    top: -20px;
}

.person0:hover {
    cursor: pointer;
    background-color: #f8bebe;
}

.person-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.person-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

/* 會議參加者 */
