body {
    background-color: #e5dada;
}

.marquee-container {
    overflow: hidden;
}

.marquee-text {
    color: red;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation: circular-marquee 7s linear infinite;
}

/* if mouse hover, stop animation */
.marquee-container:hover .marquee-text {
    animation-play-state: paused;
}

@keyframes circular-marquee {
    0% {
        transform: translate(-20%, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
}

.container {
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
}

.character-section {
    align-items: center;
    text-align: center;
}

.character {
    width: 70%;
    height: auto;
}

.member-section {
    height: 600px;
    overflow-y: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #837f7f;
    background-color: #837f7f;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* vertical scroll bar */
.cards {
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.person-card {
    position: relative;
    background-color: #e6d6d6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.bottom-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 5px auto;
    padding: 5px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.speak-button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

.speak-button:hover {
    background-color: #e7e7e7;
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
}

.switch-container input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.switch {
    background-color: #2196F3;
}

input:checked+.switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.input-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.send-button {
    background-color: #fff;
    color: black;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.send-button:hover {
    background-color: #e7e7e7;
}

.hidden-section {
    display: none;
}

.common-button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

.common-button:hover {
    background-color: #e7e7e7;
}

.repeat-button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

.repeat-button:hover {
    background-color: #e7e7e7;
}

/* 紅色 */
.bg-red {
    background-color: rgb(243, 68, 68);
}

/* 黑灰色 */
.bg-gray {
    background-color: rgb(148, 143, 143, 0.807);
}

/* 卡其色 */
.bg-khaki {
    background-color: rgb(169, 167, 115);
}

/* 深藍色 */
.bg-darkblue {
    background-color: rgb(150, 184, 200);
}
