{% extends 'base.html' %}

{% block title %}
<title>IdeaForge</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/welcome.js') }}"></script>
{% endblock %}


{% block content %}

<div class="container-sm">
    <div class="row">
        <div id="app">
            <transition name="slide">
                <template v-if="showElement">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-section">
                                <h1>歡迎來到 IdeaForge</h1>
                                <h5>我們提供一個平台，讓你可以和朋友一起討論，一起發想，一起創造！</h5>
                            </div>
                            <!-- two button in a row -->
                            <div class="button-section">
                                <button class="btn btn-primary" @click="showCreateRoom()">Create room</button>
                                <button class="btn btn-primary" @click="showJoinRoom()">Join room</button>
                            </div>
                            <template v-if="isCreateRoom">
                                <div class="form-section">
                                    <form>
                                        <div class="mb-3 mydiv">
                                            <label class="form-label">你的房間號碼</label>
                                            <input class="form-control" type="text" :value="roomId" disabled readonly>
                                        </div>
                                        <div class="mb-3 mydiv">
                                            <label class="form-label">使用者名稱</label>
                                            <input type="text" class="form-control" id="userName" placeholder="使用者名稱"
                                                v-model="userName" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary"
                                            @click="createRoom($event)">建立房間</button>
                                    </form>
                                </div>
                            </template>
                            <template v-if="isJoinRoom">
                                <div class="form-section">
                                    <form>
                                        <div class="mb-3 mydiv">
                                            <label class="form-label">朋友的房間號碼</label>
                                            <input type="text" class="form-control" id="roomName"
                                                placeholder="房號為 6 位數字" v-model="roomId" required>
                                        </div>
                                        <div class="mb-3 mydiv">
                                            <label class="form-label">使用者名稱</label>
                                            <input type="text" class="form-control" id="userName" placeholder="使用者名稱"
                                                v-model="userName" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary"
                                            @click="joinRoom($event)">加入房間</button>
                                    </form>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
            </transition>
        </div>
    </div>
</div>

{% endblock %}
