<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <title>錄音網頁</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/css/record.css">
</head>

<body>
    <div class="container">
        <div class="chatroom">
            <div class="chatroom-header">
                <div class="chatroom-header-title">
                    <h1>錄音網頁</h1>
                </div>
            </div>
            <div class="chatroom-content">
                <div class="chatroom-content-left">
                    <div class="chatroom-content-left-record">
                        <button id="record">錄音</button>
                    </div>
                </div>
                <div class="chatroom-content-right">
                    <div class="chatroom-content-right-canvas">
                        <canvas id="canvas" width="500" height="500"></canvas>
                    </div>
                    <div class="chatroom-content-right-audio">
                        <audio controls></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="static/js/record.js"></script>

</html>
