{% extends 'base.html' %}

{% block title %}
<title>Room: {{ roomId }}</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/room.js') }}"></script>
{% endblock %}


{% block content %}

<div class="container-sm mt-3">
    <div id="app">
        <!-- upper section -->
        <!-- if not idle bg-khaki else bg-red -->
        <div class="row" :class="{'bg-khaki': !isIdle, 'bg-red': isIdle}">

            <!-- 2x3 cards grid -->
            <template class="attendee-section">
                <div class="row" v-for="members in attendee_rows">
                    <div :class="member.col_width" v-for="member in members">
                        <div class="person-card person0" v-if="member.name == '主持人'" v-on:click="member0()">
                            <div class="person-icon vertical-center">
                                <template v-if="!speaking">
                                    <img class="robot-pos d-inline-block align-middle me-3"
                                        src="{{ url_for('static', filename='images/robot_nobg.png') }}" alt="沒人了"
                                        width="150" height="150">
                                </template>
                                <template v-else>
                                    <img class="robot-pos d-inline-block align-middle me-3"
                                        src="{{ url_for('static', filename='images/robot.gif') }}" alt="沒人了" width="150"
                                        height="150">
                                </template>
                            </div>
                            <div class="person-name">
                                <p>[[ member.name ]]</p>
                            </div>
                        </div>
                        <div class="person-card" v-else>
                            <div class="person-icon vertical-center">
                                <img :src="member.avatar" alt="沒人了" width="150" height="150"
                                    class="d-inline-block align-middle me-3">
                            </div>
                            <div class="person-name">
                                <p v-if="userName == member.name">[[ member.name ]] (我)</p>
                                <p v-else>[[ member.name ]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <!-- 匿名發言 Modal -->
            <div class="modal fade" id="anonymous" tabindex="-1" aria-labelledby="anonymous_modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h3 class="modal-title w-100" id="anonymous_modal">匿名發言</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="character-section" :class="{'bg-light-blue': !isIdle, 'bg-red': isIdle}">
                                <template v-if="!speaking">
                                    <img class="character d-inline-block align-middle me-3"
                                        src="{{ url_for('static', filename='images/robot_nobg.png') }}" alt="沒人了"
                                        width="500" height="500">
                                </template>
                                <template v-else>
                                    <img class="character d-inline-block align-middle me-3"
                                        src="{{ url_for('static', filename='images/robot.gif') }}" alt="沒人了" width="500"
                                        height="500">
                                </template>
                            </div>
                            <div class="bottom-wrapper">
                                <div class="col input-container">
                                    <div class="input-wrapper">
                                        <input type="text" placeholder="輸入問題" v-model="inner_text"
                                            @keyup.enter.native="send_inner($event)">
                                        <button class="send-button" v-on:click="send_inner($event)" type="button">
                                            <i class="fa-solid fa-paper-plane fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- chat room -->
            <div class="chat-room">
                <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header text-center">
                        <h3 id="offcanvasRightLabel w-100">聊天室</h3>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="row chat-wrapper" v-for="message in chat_messages">
                            <div class="chat-name">[[ message.speaker ]]:</div>
                            <div class="chat-card col-10">
                                [[ message.text ]]
                                <button class="repeat-button" v-on:click="repeat($event, message)">
                                    <i class='fa fa-repeat fa-2x'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end of upper section -->

        <!-- bottom bar -->
        <div class="row align-items-center">
            <div class="bottom-wrapper">
                <div class="col-1">
                    <div class="blank"></div>
                </div>
                <div class="col-1">
                    <button class="btn btn-secondary common-button" type="button" data-bs-toggle="modal"
                        data-bs-target="#anonymous">
                        <i class="fa-solid fa-user-secret fa-2x"></i>
                    </button>
                </div>
                <div class="col-1">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle common-button" type="button"
                            id="dropdown_button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            @click="showMenu = !showMenu">
                            <i class="fa-solid fa-comment fa-2x"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdown_button" :class="{show: showMenu}">
                            <h6 class="dropdown-header">Chat GPT快捷問題</h6>
                            <button class="dropdown-item" v-for="(question) in questions" :key="question.id"
                                @click="selectQuestion($event, question.id, question.text)">
                                [[ question.text ]]
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6 input-container">
                    <div class="input-wrapper">
                        <input type="text" placeholder="請輸入內容" v-model="outer_text"
                            @keyup.enter.native="send_outer($event)">
                        <button class="send-button" v-on:click="send_outer($event)" type="button">
                            <i class="fa-solid fa-paper-plane fa-2x"></i>
                        </button>
                    </div>
                    <!-- <div class="hidden-section">
                        <audio id="audio" controls="controls" autoplay="autoplay" hidden="hidden">
                        </audio>
                    </div> -->
                </div>
                <div class="col-1">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">聊天室</button>
                </div>
                <div class="col-1">
                    <!-- toggle microphone -->
                    <template v-if="!microphone">
                        <button class="icon-button" @click="microphone_toggle()">
                            <i class="fa-solid fa-microphone-slash fa-2x"></i>
                        </button>
                    </template>
                    <template v-else>
                        <button class="icon-button" @click="microphone_toggle()">
                            <i class="fa-solid fa-microphone fa-2x"></i>
                        </button>
                    </template>
                </div>
                <div class="col-1">
                    <div class="blank"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
